.article-image{
page-break-after:never
}
.post-content, 
.bottom-teaser.cf{
  padding-top:0!important
}
.bottom-teaser.cf{
  margin:0
}
.post-reading, 
.bottom-teaser.cf .isRight, 
.cf.post-meta-text, 
.post-meta center, 
.post-image-image,
.bottom-closer,
.share, 
.home-template .post-meta .post-tags-set,
.pagination,
.author-image,
.subscribe icon-feed{
  display:none;
}
#disqus_thread,
{
  padding: 10px 15px;
  margin: 40px 2px 20px 2px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(187, 187, 187, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 48em) {
  #disqus_thread
  {
    padding: 20px 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 62.5em) {
  #disqus_thread
 {
    max-width: 800px;
    padding: 50px 80px;
    margin: 0 auto 30px auto;
  }
}
