 <section id="full-section">
    <aside id="leftside-section">
      <article id="wrapleftside-section">
        <div class="nav-bar"><button id="lines" type="button" class="nav-menu" onclick="openNav()">
        </button><br>{{ site.baseurl }}
        <h1>
          BEJOY's
          {% if page.url == "http://bejoynj.com/" %}            
            <span>{{ page.name }}</span>
            {% else %}
            <span>{{ page.title }}</span>
            {% endif %}
        </h1>
        </div>
        <p>"{{ site.description }}"</p>
       {% include sidebar.html %}
      </article>
    </aside>
   