 <section id="full-section">
    <aside id="leftside-section">
      <article id="wrapleftside-section">
        <div class="nav-bar"><button id="lines" type="button" class="nav-menu" onclick="openNav()">
        </button><br>
        <h1>
          BEJOY's
          {% if page.url == site.url %}<span>Portfolio</span>
            {% else %}
            <span>{{ page.title }}</span>
            {% endif %}
        </h1>
        </div>
        <p>"{{ site.description }}"</p>
       {% include sidebar.html %}
      </article>
    </aside>
   