<!-- Portfolio Grid Section -->
<div id="rightside-section">
      <article id="wraprightside-section">
        <div id="gallery">
            {% for post in site.posts %}
          <div class="gal-item">
              <a class="galinner" href="{{ post.weburl }}" target="_blank">
            <div class="gal-content">
                <h1>{{ post.title }}</h1>
                <p> {{ post.excerpt }}</p>
            </div>
            <img src="/assets/images/{{ post.thumbnail }}">
                  </a>
          </div>
            {% endfor %}         
        </div>
      </article>
    </div>
  </section>