<ul id="leftcontact">
      <li>Email:<br>
      bejoynj4@gmail.com</li>

      <li>Phone:<br>
      +919633475161</li>

      <li>Find me on:<br>
      <ul class="soc-icons">
        <li><a href="https://www.facebook.com/bejoy.nj"><i class="fa fa-2x fa-facebook-square "></i></a></li>
        <li><a href="https://twitter.com/bejoynj"><i class="fa fa-2x fa-twitter-square "></i></a></li>
        <li><a href="https://in.linkedin.com/in/bejoy-n-j-1a958b60"><i class="fa fa-2x fa-linkedin-square "></i></a></li>
        <li><a href="https://www.behance.net/bejoynj"><i class="fa fa-2x fa-behance-square "></i></a></li>
      </ul>
      </li>
</ul>